@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    min-height: 50px;
    text-align: center;
    padding-top: 40px;
    background-color: rgb(126, 126, 126);
}

header h1{
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 0px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.445);
    
}

nav{
    
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.137);
    background-color: rgb(77, 77, 77);
}

nav > a{
    color: black;
    padding: 10px;
    border: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    
}

nav > a:hover{
    background-color: rgb(43, 49, 53);
    color: rgb(216, 216, 216);
}
