@charset "UTF-8";

body{
    background-color: rgb(179, 240, 199);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(0, 78, 26);
}

h1#principal{
    text-align: center;
}

h2{
    color: rgb(19, 201, 79);
}

.basico{
    color: blueviolet;
}
.intermediario{
    color: blue;
}
.avancado{
    color: aquamarine;
}