@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

@font-face {
    font-family: 'Monster';
    src: url(estilo/Montserrat-Italic-VariableFont_wght.ttf) format(truetype);
}

@font-face {
    font-family: 'Zagora';
    src: url(estilo/Zagora.ttf) format(truetype);
} 

@font-face {
    font-family: 'Bestigia';
    src: url(bestigia.ttf) format('truetype');
}

@font-face {
    font-family: "Stora";
    src: url(estilo/Stora.ttf) format(truetype);
}

@font-face {
    font-family: 'Storal';
    src: url(estilo/Stora-Light.ttf) format(truetype);
}

@font-face {
    font-family: 'Gaze';
    src: url(estilo/Gazebo\ DEMO!!!.otf) format(opentype);
}

@font-face {
    font-family: 'Koo';
    src: url(estilo/KoolturaDEMO.otf) format(opentype);
}

@font-face {
    font-family: 'Los';
    src: url(estilo/Lostar.ttf) format(truetype);
}



header{
    color: white;
    background-image:linear-gradient(to bottom, rgba(224, 169, 103, 0.664), rgba(255, 165, 56, 0.89), rgba(116, 74, 23, 0.733) );
    font-size: 6.5em;
    text-align: center;    
    padding: 10px;
}

header > h1{
    font-family: 'Los';
    color: black;
    
   
}

main{
    text-align: justify;
    background-image: linear-gradient(to bottom, rgba(230, 153, 11, 0.562), rgb(116, 116, 3)) ;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    margin: 10px;
    
}



section{
       
}

section > h2{
    font-family: 'Zagora';
    font-size: 3em;
   
}

section > p{
    font-size: 2em;
    text-align: center;
}


   


